* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html {
      scroll-behavior: smooth;
    }
  
  :root {
    /* color */
    --black-color: #000000;
    --white-color: #ffffff;
    --pink-color: #ff849a;
    --light-black: #120d44;
    --blue-light:#2955bb;
    --pre-blue:#4f7bc7;
    --dark-blue:#1a3d8d;
  
    /* font family */
    --primary-font: "hk-grotesk";
    --secondary-font: "Neue-Machina";
  }
  
  body {
    font-family: var(--primary-font);
    /* background-color: var(--black-color); */
    background-color: var(--blue-light);
  }
  
  .container {
    max-width: 1432px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .btn {
    font-size: 18px;
    font-weight: 400;
    background-color:var(--blue-light);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    outline: none;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: transparent;
    border-color: var(--white-color);
  }
  
 
  .mt-10 {
    margin-top: 100px;
  }
  
  .mt-8 {
    margin-top: 80px;
  }
  
  .mt-6 {
    margin-top: 60px;
  }
  
  .mt-5 {
    margin-top: 50px;
  }
  
  .mt-4 {
    margin-top: 40px;
  }
  
  .mt-3 {
    margin-top: 32px;
  }
  
  .heading {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    color: var(--white-color);
    margin-bottom: 30px;
  }
  
  .desc {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
  }
  
  input,
  textarea {
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    /* color: rgba(140, 82, 255, 60%); */
  }
  
  .header {
      position: sticky;
      right: 0;
      top: 0;
      left: 0;
      z-index: 5;
 background-color: var(--dark-blue);

    }
  
  .header_wrappr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }
  .headere_logo {
    width: 21%;
  }
  .header_logoLnk {
      background-image: url(../images/logo.png);
      height: 65px;
      width: 340px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: block;
      filter: invert(1);
  }
  .header_navbar {
    /* width: 75%; */
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .header_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
  }
  
  .header_item {
    padding-inline: 20px;
  }
  
  .header_link {
    color: var(--white-color);
    font-size: 18px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .header_link::after {
    width: 0%;
    position: absolute;
    content: "";
    bottom: -6px;
    right: 0;
    background-color: var(--white-color);
    height: 2px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  
  .header_link:hover::after {
    width: 100%;
    left: 0;
  }
  
  .header_link.active::after {
    width: 100%;
  }
  .header_right {
    display: flex;
    gap: 20px;
  }
  .header_right .btn {
    border-color: transparent;
    padding: 8px 16px;
    color: var(--blue-light);
    /* background-color: var(--pink-color); */
    background-color: var(--white-color);
    border-radius: 8px;
  }
  .header_right .btn:hover {
    border-color: var(--white-color);
    background-color: transparent;
    color: var(--white-color);
  }
  .humburger {
    display: none;
  }
  
  .humburger_icon,
  .close_menuIcon {
    background-image: url("../images/icons8-hamburger-menu-50.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    filter: invert(1);
    cursor: pointer;
  }
  .close_menuIcon {
    background-image: url("../images/icons8-close-50.png");
    position: absolute;
    top: 24px;
    right: 15px;
  }
  
  .close_menu {
    display: none;
  }
  .header.fixheader {
      background-color: var(--black-color);
      box-shadow: rgb(238 238 238 / 56%) 0px 7px 29px 0px;
  }
  /* banner section */
  .banner {
    background-color: var(--black-color);
    color: var(--white-color);
    /* border-bottom: 1px solid var(--white-color); */
    position: relative;
  }
  .banner_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner_heading {
      font-size: 70px;
      line-height: 100%;
      color: var(--white-color);
      margin-bottom: 25px;
      font-weight: 600;
      letter-spacing: -0.9px;
  }
  .banner_btns a {
      width: 230px;
      padding: 15px 20px;
      border:1px solid transparent;
  }
  .banner_desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
  }
  .banner_btns {
    margin-top: 104px;
    gap: 2rem;
    display: flex;
    align-items: center;
  }
  .banner_btns .btn:hover {
    color: var(--white-color);
  }
  .banner_left {
    width: 50%;
    margin-bottom: 12px;
    padding-inline: 5%;
  }
  .banner_right {
    width: 50%;
  }
  .banner_right {
    background-image: url("../images/banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
  
  }
  
  /* welcome */
  .welcome {
    background-image: url("../images/welcome.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border-bottom: 1px solid var(--white-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .welcome::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 55%);
    z-index: 0;
  }
  .welcome_wrapper {
    z-index: 1;
  }
  .welcome_content {
    max-width: 840px;
    width: 100%;
    padding-inline: 12px;
    text-align: center;
    margin: 0 auto;
  }
  .welcome_heading {
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--white-color);
  }
  .welcome_desc {
    font-size: 23px;
    line-height: 135%;
    font-weight: 400;
    color: var(--white-color);
  }
  
  /* footer section */
  .footer {
    color: var(--white-color);
    box-shadow: 1px 1px 20px 1px var(--white-color);
  }
  
  .footer_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .disclaimer h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 12px;
  }
  
  .footer a {
    color: var(--white-color);
  }
  
  .footer_left {
    width: 25%;
  }
  
  .footer_navbar {
    width: 23%;
  }
  
  .footer_socials {
    width: 20%;
  }
  
  .footer_content {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-block: 50px;
  }
  
  .footer_icon {
    background-image: url("../images/logo.png");
    height: 65px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    filter: invert(1);
  }
  
  .footer_title {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 500;
    color: var(--white-color);
  }
  
  .footer_link {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 18px;
    color: var(--white-color);
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .footer_link::after {
    width: 0%;
    position: absolute;
    content: "";
    bottom: -6px;
    right: 0;
    background-color: var(--white-color);
    height: 2px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  .footer_link:hover::after {
    width: 100%;
    left: 0;
  }
  .footer_socialsWrapp {
    display: flex;
    gap: 10px;
  }
  .footer_social {
    border: 1px solid #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .footer_social:hover {
    /* background-color: var(--pink-color);
    border-color: var(--pink-color); */
  }
  .social_link {
    background-image: url("../images/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s linear;
    filter: invert(1);
  }
  
  .footer_copyRight p {
    font-size: 14px;
  }
  
  .footer_copyRight a:hover {
    text-decoration: underline;
  }
  
  .social_link--fb {
    background-image: url("../images/fb.png");
  }
  
  .social_link--twitter {
    background-image: url("../images/twitter.svg");
    filter: grayscale(1);
  }
  
  .social_link--inta {
    background-image: url("../images/insta.png");
  }
  
  .social_link--linkedin {
    background-image: url("../images/inkedIn.svg");
    filter: grayscale(1);
  }
  
  .footer_btm {
    border-top: 1px solid var(--white-color);
  }
  
  .footer_btmSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
  }
  
  .footer_SSlLink {
    background-image: url("../images/sslologo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 120px;
    height: 32px;
    display: block;
  }
  /* singup section */
  .singup {
    /* border-bottom: 1px solid var(--white-color); */
  }
  .singup_left {
    background-image: url("../images/singup.webp");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border-bottom: 1px solid var(--white-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .singup_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .singup_left {
    width: 50%;
  }
  .singup_right {
    width: 50%;
  }
  .singup_content {
      padding: 0 25px;
  }
  .singup_tobar {
    /* background-color: var(--light-black); */
    /* padding: 16px 8px; */
    margin-bottom: 100px;
  }
  .singup_form {
    /* background-color: #6d5a96; */
    background-color: var(--light-black);
    padding: 30px;
    border-radius: 8px;
  }
  .singup_heading {
      font-size: 30px;
      font-weight: 600;
      color: var(--white-color);
      text-align: center;
      margin-bottom: 25px;
  }
  .singup_email {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 65%;
    margin: 0 auto;
    align-items: center;
  }
  .singup_input {
    border-radius: 50px 0 0 50px;
    padding: 12px 14px;
    font-size: 14px;
    font-weight: 400;
  }
  .singup_email::placeholder {
    font-size: 14px;
    font-weight: 400;
  }
  .submit_btn {
    width: 150px;
    padding: 12px;
    border-radius: 0px 50px 50px 0px;
    background-color: #ef655c;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .submit_btn:hover {
    background-color: var(--white-color);
    color: var(--pink-color);
  }
  .singup_btm p:first-child {
    margin-bottom: 20px;
  }
  .singup_btm p {
    color: var(--white-color);
    text-align: center;
    font-size:20px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  /* choose section */
  
  .choose {
    background-image: url("../images/choose.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 500px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border-bottom: 1px solid var(--white-color); */
  }
  .choose::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .choose_wrapper {
    z-index: 1;
  }
  .choose_inner {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    z-index: 1;
    flex-wrap: wrap;
  }
  .choose_icon{
    background-image:url("../images/digital-clock.svg");
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .choose_icon--fantasy{
    background-image:url("../images/Templates.svg");
  }
  .choose_icon--community{
    background-image:url("../images/customers.svg");
  }
  .choose_sec {
    width: 30%;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: rgb(0 0 0 / 55%);
    padding: 25px;
    border-radius: 10px;
  
  }
  .choose_heading {
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 50px;
    text-align: center;
    color: var(--white-color);
  }
  .choose_title {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 25px;
    color: var(--white-color);
  }
  .choose_desc {
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
    line-height: 150%;
  }
  /* leagues */
  .leagues {
    margin-bottom: 12px;
  }
  .leagues_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .leagues_right {
    width: 50%;
  }
  .leagues_left {
    width: 50%;
    background-image: url("../images/league.jpg");
    /* height: 100vh; */
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .leagues_heading {
    font-size: 37px;
    font-weight: 800;
    color: var(--white-color);
    margin-bottom: 83px;
    text-align: center;
    margin-top: 22px;
  }
  .leagues_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .leagues_sec {
    max-width: 400px;
    width: 100%;
    margin-bottom: 1rem;
    padding: 12px;
    border: 0.5px solid var(--white-color);
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  .leagues_title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--white-color);
    font-family: var(--secondary-font);
  }
  .leagues_desc {
    font-size: 16px;
    font-weight: 400;
    color: var(--white-color);
    font-family: var(--secondary-font);
  }
  
  /* about section */
  
  .section{
      margin-block: 2rem;
  }
  .sec_content{
      max-width: 1024px;
      width: 100%;
      padding: 24px;
      border-radius: 4px;
      margin: 0 auto;
      box-shadow: rgba(215, 124, 141, 0.6) 0px 7px 29px 0px;
  }
  .sec_heading{
      font-size: 42px;
      font-weight: 800;
      text-align: center;
      color: var(--white-color);
      line-height: 150%;
      margin-bottom: 40px;
  }
  .sec_title{
      font-size: 24px;
      font-weight: 500;
      color: var(--pink-color);
      margin-bottom: 10px;
  }
  .sec_desc{
      font-size: 16px;
      font-weight: 400;
      color: var(--white-color);
      margin-bottom: 8px;
      line-height: 150%;
  }
  .sec_list{
      margin-bottom: 16px;
  }
  .sec_item{
      list-style: disc;
      margin-left: 16px;
      color: var(--white-color);
      line-height: 150%;
      margin-bottom: 4px;
  }
  .sec_item strong{
      color: var(--pink-color);
  }
  .sec_item::marker{
      color: var(--pink-color);
  }
  /* contact us section */
  .contact_wrapper{
      padding: 24px;
      border-radius: 4px;
      box-shadow: rgba(215, 124, 141, 0.6) 0px 7px 29px 0px;
  }
  .contact_inner{
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
  }
  .contact_left{
      width: 46%;
  }
  .contact_right{
      width: 49%;
  }
  .contact_left input{
     margin-bottom: 16px;
  }
  .contact_rightImg{
      background-image: url("../images/contact.jpg");
      height: 100%;
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
      width: 100%;
     border-radius: 4px;
  }
  .sec_email{
      color: var(--pink-color);
  }
  .sec_email:hover{
      text-decoration: underline;
  }
  .singup{
    padding-block: 74px;
    background-image: url("../images/contact-us.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed;
  }
  .singup::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 55%);
    z-index: 0;
}
.singup .container{
    z-index: 1;
color: white;
}
  .singup_inner{
    max-width: 850px;
    width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  padding-block: 30px;
background-color: rgb(0 0 0 / 56%);
  }
  .singup_heading{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 24px;
  }

.singup_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 16px;
  }
  .singup_input{
    border-radius: 4px;
  }
  .submit_btn{
    border-radius: 4px;
  }
  .profile{
    display: none;
  }